<h1 class="d-flex justify-content-center">Burgers</h1>

<div>
    <ul>
        {{#each burgers}}
        {{> burgers/burgers-block }}
        {{/each}}
    </ul>

</div>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

    <button type="submit">Add booger</button>
</form>