{{!-- move to the right if it has been devoured --}}
<div class="{{#if devoured}} d-flex justify-content-end {{/if}}">
    <li>
        {{!-- we actually do not use data-devour, but it's good to have --}}
        <label data-devour="{{devoured}}"> {{burger_name}}  </input>
        <button class="devour-burger {{#if devoured}}btn btn-success{{/if}}" data-id="{{this.id}}">DEVOUR{{#if devoured}}ED{{/if}}!</button>
    </li>
</div>