<div class="{{#if devoured}} d-flex justify-content-end {{/if}}">
    <li>
        <label data-devour="{{devoured}}"> {{burger_name}}  </input>
        <button class="devour-burger" data-id="{{this.id}}">DEVOUR{{#if devoured}}ED{{/if}}!</button>
    </li>
</div>